@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply relative bg-champagnePink font-Comfortaa tracking-wide text-sutilBlack scrollbar-hide;
  }
  /* body::-webkit-scrollbar-track-piece {
    @apply bg-sutilBlack;
  } */
  header,
  #menu-root {
    @apply absolute w-full text-white;
  }
  header > * {
    @apply fixed z-20;
  }
  #menu-root > * {
    @apply fixed;
  }
  main {
    @apply min-h-screen overflow-x-clip;
  }
  main > section:not(:only-child, :first-child, .noSpace) {
    @apply my-10;
  }
  main > section {
    @apply relative;
  }
  main > section:only-child {
    @apply min-h-screen;
  }
  main > section:not(.noMaxWidth) {
    @apply my-container;
  }

  /* Form inputs */
  .inputContainer *:invalid[focused="true"] {
    @apply border-2 border-red-600;
  }
  .inputContainer *:invalid[focused="true"] ~ .inputError {
    @apply opacity-100;
  }
  h2 {
    @apply text-lg;
  }
  abbr {
    @apply underline-offset-4;
  }
}
@layer components {
  .my-container {
    @apply mx-auto max-w-xs sm:max-w-sm md:max-w-xl lg:max-w-4xl xl:max-w-5xl;
  }
  .brandLogo {
    @apply top-0.5 left-0 z-30 ml-2 text-3xl tracking-wider;
  }
  .menuContainer {
    @apply inset-0 flex sm:px-24 mxsm:justify-center;
  }
  .menu {
    @apply before:btriangle-tl after:btriangle-tr relative flex h-2/3 max-w-xs flex-grow flex-wrap justify-center space-y-20
   bg-orange-500 px-6 text-3xl transition-transform before:absolute before:top-[95%] before:left-0 before:border-[6rem] before:border-orange-500 after:absolute after:top-[95%] after:right-0 after:border-[6rem] after:border-orange-500 sm:justify-between mxsm:flex-col mxsm:p-10;
  }
  .menuLinks {
    @apply flex w-max flex-col gap-y-4 self-center;
  }
  .menuButton {
    @apply left-4 bottom-2 z-30 flex -rotate-90 flex-col items-center md:left-0 md:bottom-1/2 md:translate-y-1/2;
  }
  .menuBars {
    @apply relative flex h-14 w-14 place-content-center gap-x-1 rounded-full border-2 border-sutilBlack;
  }
  .menuBars li {
    @apply w-1 self-center rounded-full transition-[translate_opacity];
  }
  .menuText {
    @apply absolute -bottom-6 w-14 justify-center gap-x-1 text-sutilBlack;
  }
  .sidebar {
    @apply top-1/2 right-1 hidden -translate-y-1/2 flex-col gap-y-9 sm:flex md:transition-opacity;
  }
  .social-icon {
    @apply h-8 w-8 hover:scale-110;
  }
  /* Sections */
  .heroSection {
    @apply h-screen overflow-x-hidden overflow-y-scroll scrollbar-hide;
  }

  .introSection {
    @apply flex min-h-max flex-wrap justify-between gap-1;
  }
  .introSection > * {
    @apply m-auto h-max max-w-md;
  }
  .intro_focus {
    @apply bg-sutilBlack p-8 text-base text-gray-400;
  }
  .intro_list {
    @apply space-y-2;
  }
  .intro_list > li {
    @apply list-disc;
  }

  .techSection {
    @apply min-h-max bg-gradient-to-t from-vaporBlue to-vaporViolet text-white;
  }
  .projectSection {
    @apply min-h-max bg-gradient-to-b from-vaporBlue to-vaporViolet text-white lg:justify-around;
  }
  .inspirationSection {
    @apply flex flex-col gap-y-6 bg-red-500 text-white;
  }
  .quoteCard {
    @apply relative flex max-w-lg rounded-md bg-white text-sutilBlack md:rounded-full;
  }
  .contactSection {
    @apply flex items-center justify-center bg-sutilBlack;
  }
  .feedbackBtn {
    @apply absolute mx-auto flex h-40 max-w-xs items-center rounded-md bg-white py-3 px-2 transition-opacity;
  }
  .feedbackForm {
    @apply mx-auto flex w-[440px] max-w-lg overflow-hidden rounded-md bg-white p-4 text-sutilBlack transition-opacity delay-300;
  }
  .inputError {
    @apply inline-block select-none text-sm text-red-600 opacity-0 lg:transition-opacity;
  }
  /*============================================ About Page */
  .about {
    @apply h-max p-10 pb-0 font-bold;
  }
  .about p {
    @apply indent-4;
  }
}
@layer utilities {
  .paragraphTitle {
    @apply mb-6 text-xl uppercase tracking-wide;
  }
  .sectionTitle {
    @apply text-xl uppercase tracking-widest;
  }
  .skeleton-title-sm {
    @apply mb-6 h-8 w-1/3 animate-pulse rounded-sm;
  }
  .skeleton-text:first-child:not(:only-child) {
    @apply ml-auto w-[90%];
  }
  .skeleton-text {
    @apply mb-2 h-6 w-full animate-pulse rounded-sm;
  }
  .skeleton-text:nth-of-type(5) {
    @apply mt-8;
  }
  .skeleton-text:last-child:not(:only-child),
  .skeleton-text:nth-of-type(4) {
    @apply mb-0 w-[60%];
  }
  .btriangle-tl {
    z-index: -1;
    border-right-color: transparent;
    border-bottom-color: transparent;
  }
  .btriangle-br {
    z-index: -1;
    border-top-color: transparent;
    border-left-color: transparent;
  }
  .btriangle-tr {
    z-index: -1;
    border-left-color: transparent;
    border-bottom-color: transparent;
  }
  .activeSlide {
    @apply opacity-100;
  }
  .inactiveSlide {
    @apply -z-10 opacity-0;
  }
  .btn-inOut {
    @apply relative w-max after:absolute after:bottom-0 after:left-0 after:h-[3px] after:w-full after:origin-right after:scale-x-0 after:rounded after:transition-transform after:ease-in after:hover:origin-left after:hover:scale-x-100;
  }
}
