@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }
  body {
    @apply relative bg-gradient-to-r from-strongOrange to-strongRed font-Comfortaa text-white scrollbar-hide;
  }
  header {
    @apply absolute z-30 w-full;
  }
  main {
    @apply mx-auto max-h-max min-h-screen max-w-xs space-y-8 overflow-x-hidden sm:max-w-sm md:max-w-xl md:transition-[max-width] lg:max-w-4xl xl:max-w-6xl;
  }
  footer {
    @apply flex min-h-[13rem] w-full items-center justify-between bg-sutilBlack p-4 text-sm text-slate-300 shadow-inner shadow-slate-700 sm:flex mxsm:space-y-3;
  }
  main > section {
    @apply max-h-[90vh] min-h-max;
  }
}
@layer components {
  .skipNav {
    @apply fixed top-0 left-28 -translate-y-[80px] rounded-b-3xl border-2 border-white border-t-transparent bg-strongOrange px-3 py-1 outline-none transition focus:translate-y-0;
  }
  .brandLogo {
    @apply fixed top-0 left-0 ml-2 text-[1.875rem] tracking-wider;
  }
  .menuContainer {
    @apply fixed inset-0 flex sm:px-24 mxsm:justify-center;
  }
  .menu {
    @apply before:btriangle-tl after:btriangle-tr relative flex h-2/3 max-w-xs
   flex-grow flex-wrap justify-center space-y-20 bg-orange-500 px-6 text-3xl transition-transform before:absolute before:top-[95%] before:left-0 after:absolute after:top-[95%] after:right-0 sm:justify-between mxsm:flex-col mxsm:p-10;
  }
  .menuButton-container {
    @apply fixed left-4 z-30 flex -rotate-90 flex-col items-center sm:top-1/2 sm:-translate-y-1/2 mxsm:bottom-2;
  }
  .menuButton {
    @apply min-h-max min-w-max rounded-full bg-white py-4 px-5 sm:p-0 sm:transition-colors;
  }
  .active {
    @apply p-1;
  }
  .closed {
    @apply sm:bg-transparent;
  }
  .sidebar {
    @apply fixed top-1/2 right-2 hidden -translate-y-1/2 flex-col space-y-3 sm:flex;
  }
  .social-icon {
    @apply h-8 w-8 hover:scale-110;
  }
  .backdrop {
    @apply absolute inset-0 z-20 bg-black/90;
  }
  .heroSection {
    @apply grid h-screen place-items-center;
  }
  .heroSection > h1 {
    @apply relative text-6xl transition-[font-size] sm:text-7xl md:text-9xl md:tracking-wide;
  }
  .projectSection {
    @apply flex flex-wrap justify-evenly mxsm:justify-center;
  }
  .projectCard {
    @apply relative flex max-h-max max-w-xs flex-col rounded-md bg-vaporBlue p-4 text-center before:absolute before:-top-7
    before:left-2 before:z-10 before:h-24 before:w-7 before:rotate-45 before:border-b-4 before:border-r-4 before:border-black/50 before:bg-white/90 after:absolute after:-top-7 after:right-2 after:z-10 after:h-24 after:w-7 after:-rotate-45 after:border-b-4 after:border-l-4 after:border-black/50 after:bg-white/90 mxsm:p-3;
  }

  .projectCard_desc {
    @apply mt-2 rounded-t-md rounded-bl-md bg-vaporViolet px-1 py-1.5 text-sm;
  }
  .projectCard_links {
    @apply flex items-center justify-end;
  }
  .projectCard_links > * {
    @apply bg-vaporViolet first:rounded-bl-md first:p-1 last:rounded-br-md last:p-1;
  }
  .projectCard_anchor-logo {
    @apply h-8 hover:scale-105;
  }
}
@layer utilities {
  .btriangle-tl {
    z-index: -1;
    border-width: 6rem;
    border-color: rgb(249 115 22);
    border-right-color: transparent;
    border-bottom-color: transparent;
  }
  .btriangle-tr {
    z-index: -1;
    border-width: 6rem;
    border-color: rgb(249 115 22);
    border-left-color: transparent;
    border-bottom-color: transparent;
  }
}
