@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Comfortaa";
  src: url("../public/fonts/Comfortaa/Comfortaa-Regular.ttf");
}
@font-face {
  font-family: "Raleway";
  src: url("../public/fonts/Raleway/Raleway-Light.ttf");
}

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply relative bg-champagnePink font-Comfortaa tracking-wide text-sutilBlack scrollbar-hide;
  }
  /* body::-webkit-scrollbar-track-piece {
    @apply bg-sutilBlack;
  } */
  header,
  #modal-root {
    @apply absolute w-full text-white;
  }
  header > * {
    @apply fixed z-20;
  }
  #modal-root > * {
    @apply fixed;
  }
  main {
    @apply min-h-screen overflow-x-hidden;
  }
  main > section:not(.noPadding) {
    @apply py-10;
  }
  main > section {
    @apply relative text-white;
  }
  main > section:only-child {
    @apply min-h-screen;
  }
  main > section:not(.noMaxWidth) {
    @apply my-container;
  }

  h2 {
    @apply text-lg;
  }
  abbr {
    @apply underline-offset-4;
  }

  /* Form inputs */
  .inputContainer *:invalid[focused="true"] {
    @apply border-2 border-red-600;
  }
  .inputContainer *:invalid[focused="true"] ~ span {
    @apply select-text opacity-100;
  }
}
@layer components {
  .my-container {
    @apply mx-auto max-w-xs sm:max-w-[28rem] md:max-w-xl lg:max-w-3xl xl:max-w-5xl;
  }
}
@layer utilities {
  .paragraphTitle {
    @apply mb-6 text-xl uppercase tracking-wide;
  }
  .sectionTitle {
    @apply text-xl uppercase tracking-widest;
  }
  .skeleton-title-sm {
    @apply mb-6 h-8 w-1/3 animate-pulse rounded-sm;
  }
  .skeleton-text:first-child:not(:only-child) {
    @apply ml-auto w-[90%];
  }
  .skeleton-text {
    @apply mb-2 h-6 w-full animate-pulse rounded-sm;
  }
  .skeleton-text:nth-of-type(5) {
    @apply mt-8;
  }
  .skeleton-text:last-child:not(:only-child),
  .skeleton-text:nth-of-type(4) {
    @apply mb-0 w-[60%];
  }
  .btriangle-tl {
    z-index: -1;
    border-right-color: transparent;
    border-bottom-color: transparent;
  }
  .btriangle-br {
    z-index: -1;
    border-top-color: transparent;
    border-left-color: transparent;
  }
  .btriangle-tr {
    z-index: -1;
    border-left-color: transparent;
    border-bottom-color: transparent;
  }
  .activeSlide {
    @apply opacity-100;
  }
  .inactiveSlide {
    @apply -z-10 opacity-0;
  }
  .btn-inOut {
    @apply relative w-max after:absolute after:bottom-0 after:left-0 after:h-[3px] after:w-full after:origin-right after:scale-x-0 after:rounded after:transition-transform after:ease-in after:hover:origin-left after:hover:scale-x-100;
  }
  .analog-shadow-left {
    box-shadow: #9ca3af -4px 4px 0;
  }
  .analog-shadow-center {
    box-shadow: #9ca3af 0 10px 0;
  }
  .analog-shadow-right {
    box-shadow: #9ca3af 4px 4px 0;
  }
  .inner-shadow-md {
    box-shadow: inset 0 2px 20px 0;
  }
}
