@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply h-screen min-h-screen scroll-smooth;
  }
  body {
    @apply relative flex h-full flex-col bg-champagnePink font-Comfortaa tracking-wide text-sutilBlack scrollbar-hide;
  }
  main {
    @apply h-full bg-blue-600;
  }
  footer {
    @apply mt-auto bg-red-600;
  }
  /* Form inputs */
  .inputContainer *:invalid[focused="true"] {
    @apply border-2 border-red-600;
  }
  .inputContainer *:invalid[focused="true"] ~ span {
    @apply select-text opacity-100;
  }
}
@layer components {
  .my-container {
    @apply mx-auto max-w-xs sm:max-w-[28rem] md:max-w-xl lg:max-w-3xl xl:max-w-5xl;
  }
}
@layer utilities {
  .paragraphTitle {
    @apply mb-6 text-xl uppercase tracking-wide;
  }
  .sectionTitle {
    @apply text-xl uppercase tracking-widest;
  }

  .activeSlide {
    @apply opacity-100;
  }
  .inactiveSlide {
    @apply -z-10 opacity-0;
  }
  .btn-inOut {
    @apply relative w-max after:absolute after:bottom-0 after:left-0 after:h-[3px] after:w-full after:origin-right after:scale-x-0 after:rounded after:transition-transform after:ease-in after:hover:origin-left after:hover:scale-x-100;
  }
  .analog-shadow-left {
    box-shadow: #9ca3af -4px 4px 0;
  }
  .analog-shadow-center {
    box-shadow: #9ca3af 0 10px 0;
  }
  .analog-shadow-right {
    box-shadow: #9ca3af 4px 4px 0;
  }
  .inner-shadow-md {
    box-shadow: inset 0 2px 20px 0;
  }
}
